// Estilos base
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif; // Estilo futurista
}

.container-general {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #101010;
  overflow: hidden;

  .container-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 38.8em;
    height: 39em;
    background: #F5E2A0;
    transform: rotate(45deg);
    
    .container-interno {
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: rotate(-45deg);
      width: 100%;
      height: 100%;
      justify-content: center;

      .container-logo {
        width: 50%;
        text-align: center;
        
        .logo {
          width: 100%;
        }
        
        h1, h2 {
          font-family: 'Orbitron', sans-serif;
          margin: 0.5em 0;
          color: #101010;
        }
        
        h2 {
          font-size: 1.5em;
          font-weight: normal;
        }
      }
      
      .message {
        width: 50%;
        margin: 2em 0;
        text-align: justify;
        .tmessage {
          font-family: Agency FB;
          font-weight: 700;
          font-size: 10px;
          line-height: 12px;
          letter-spacing: 0%;
          text-align: justify;

        }
      }
      
      .container-interaction {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        
        button {
          margin: 0 0 6.54px 0;;
          padding: 0.8em 2em;
          background: #101010;
          color: #F5E2A0;
          border: none;
          cursor: pointer;
          transition: all 0.3s;
          font-family: Agency FB;
          font-weight: 700;          
          letter-spacing: 0%;
          text-align: center;
          vertical-align: middle;
          
          &:hover {
            background: darken(#101010, 10%);
          }
        }
        .login, .register{
          width: 100%;
        }
        
        .login a, .register a{
          text-decoration: none;
          color: #f5e2a0;
        }

        .login{
          font-size: 34px;
          line-height: 12px;
        }

        .register{
          font-size: 30px;
          line-height: 12px;
        }
        .aux{
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          padding: 0;

          .b-TC{
            padding: 0 6px;
            font-size: 9px;
            height: 30.69px;
          }
          .b-MU{
            padding: 0 11px;
            font-size: 9px;
            height: 30.69px;
          }
          .b-FAQ{
            padding: 0 19px;
            font-size: 12px;
            height: 30.69px;
          }
        }
        .subtract{
            width: 100%;
        }
      }
    }
  }
}