.containner-general-torneo{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  overflow: hidden;
  .torneos-container {
    background: #101010;
    color: #fceea9;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .torneos-lista{
    flex: 1;
    margin-bottom: 20px;
    width: 95%;
    .mensaje-vacio {
      background-color: #222;
      padding: 1rem;
      margin-top: 2rem;
      text-align: center;
      font-size: 1.2rem;
    }
    .tabla-torneos {
      width: 100%;
      border-collapse: collapse;
      background-color: #101010;
      color: #fceea9;
      font-family: 'Agency FB';
      font-weight: 700;
      .tabla-torneos th,
      .tabla-torneos td {
        border: 1px solid #fceea9;
        padding: 12px 16px;
        text-align: center;
        .tabla-torneos th {
          background-color: #c40044;
          color: #ffe282;
          font-weight: bold;
        }
        .tabla-torneos tr:nth-child(even) {
          background-color: #2a2a2a;
        }

        .tabla-torneos tr:hover {
          background-color: #333;
        }
      }
        th {
        background-color: #000;
        color: #fceea9;
        text-align: center;
        padding: 12px;
        font-size: 30px;
        font-family: Agency FB;
        font-weight: 700;
      }
        td {
        padding: 10px 12px;
        font-size: 16px;
        text-align: center;
        font-family: Abel;
        font-weight: 400px;
        font-size: 25px;
      }
    
      tr:nth-child(even) {
        background-color: #1a1a1a;
      }
    
      tr:nth-child(odd) {
        background-color: #111;
      }
    }
  }
  .torneos-acciones{
    margin-bottom: 4em;
    
    .btn-crear {
      background-color: #ffe282;
      color: #c40044;
      padding: 1rem 2rem;
      font-weight: bold;
      border: none;
      font-family: Agency FB;
      font-weight: 700;
      font-size: 44.69px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      vertical-align: middle;
      
      cursor: pointer;
    }
  }

}